  <header>
    <nav class="navbar">
      <div class="nav-brand">DisForum</div>
      <ul class="nav-links">
        <li><a href="/" class="nav-link active">Home</a></li>
        <li><a href="#" class="nav-link">About</a></li>
        <li><a href="login" class="nav-link">Login</a></li>
        <li><a href="register" class="nav-link">Register</a></li>
      </ul>
    </nav>
  </header>